body {
    background-image: url("https://img.freepik.com/free-photo/alphabet-beads-border-pink-wallpaper-background-text-space_53876-123172.jpg?size=626&ext=jpg");
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
  }
  
  h1 {
      text-align: center;
  
  }
  
  h2 {
  
  }