body {
    background-image: url("https://image.freepik.com/free-photo/letter-beads-border-pink-wallpaper-text-space_53876-105999.jpg");
    background-size: 100%;
    position: absolute;
    top: 20%;
    left: 20%;
  }
  
  h1 {
      text-align: center;
  }
  
  h2 {
    text-align: center;
  }
button{

    background-color: rgb(148, 186, 241);
}